livereload==2.6.3 
pyyaml
requests
beautifulsoup4
markdown==3.4.1
markdown_math_escape==0.20.12.17
python-markdown-math==0.8 
pymdown-extensions==9.9
Pygments==2.13.0
markdown-captions
markdown-headdown
markdown-full-yaml-metadata
jinja2