{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}

<div class="wrapper">


    {% include 'includes/sidebar.html' %}
    {% include 'includes/menu.html' %}
    <div class="main-wrapper">
        {% for year, entries in data.blog.items() %}
        <div class="archive-wrapper">
              <h4 class="archive-header">{{ year }}</h4>
              {% for entry in entries %}
              <div class="recent-post-header">
                <span style="float: left">{{ entry.monthday }}</span>
                  <h4>&nbsp;&nbsp;<span class="link">&raquo;</span>
                  &nbsp;&nbsp;
                  <a class="header-link" href="{{ entry.slug }}.html">{{ entry.Title }}</a></h4>
                <div class="lang"><img src="images/{{ entry.Lang }}.png" alt="{{ entry.Lang }}" /></div>
              </div>
              {% endfor %}
        </div>
        {% endfor %}

    </div><!--//main-body-->
</div>

{% endblock %}
