{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="wrapper">


    {% include 'includes/sidebar.html' %}
    {% include 'includes/menu.html' %}
    <div class="main-wrapper">

        <section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-user"></i>Hello 👋</h2>
        <div class="summary">
            <div>
            <p>I am part of the <b>Technical Staff</b> of <a href="https://proofs.io" target="_blank"><b>Proofs.io</b></a> where I research and build robust multi-agent LLM-based frameworks for building proof-of-concept softwares.</p>
            <p>I am also offering <b>consulting</b>, following research projects and developing AI related products and software via my company <a href="https://hother.io" target="_blank"><b>Hother.io</b></a>.</p>
            <p>I write about mathematics, machine learning and computer science at <a href="https://endomorphis.me" target="_blank"><b>Endomorphism</b></a>.</p>
            </div><br/>
            <div id="previously"><h5>Previously:</h5>
              <ul>
                <li>I worked as <b>Technical Lead</b> and <b>researcher</b> at <a href="https://ydata.ai/" target="_blank"><b>YData</b></a>, building generative models for Synthetic Data and tools for Data Quality.</li>
                <li>I worked as <b>Lead Manager</b> at the <b>Financial Crime Threat Mitigation department</b> at <b>HSBC</b>, developing global-scale financial crime risk models serving more than 200M clients.</li>
                <li>I worked at <b>IBM</b> as <b>R&D engineer</b>, working on <a href="https://www.ibm.com/products/cloud-pak-for-data" target="_blank"><b>IBM Cloud Pak for Data</b></a> among others.</li>
                <li>I obtained a <b>Ph.D.</b> at Poznan University of Technology, under the supervision of Pr. Robert Wrembel, in the field of Machine Learning with a focal point on explainability and with applications to the justice domain.</li>
                <li>I received a <b>master of science degree</b> (diplome d'ingénieur) from the National Institute of Applied Sciences (INSA) in France, where I had the opportunity to work with Inria TAO team (machine learning and optimization), under the supervision of Pr. Marc Schoenauer, on the project DESCARWIN funded by the National Agency for Research.</li>
                </ul>
            </div>
        </div><!--//summary-->
        </section><!--//section-->

        <!--<section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-project-diagram"></i>Projects</h2>
        <div class="summary" style="overflow: hidden;">

            {% for k, p in data.projects.projects.items() %}
            <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="float:left; width: 360px; margin-left: 1em; border-radius: 1px;">

              <div class="px-2 py-2">

                <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                 {{ p.name }}
                </h1>

                <p class="mb-1 truncate">
                 {{ p.short_desc }}
                </p>

              </div>

              <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                Read More
              </a>

            </div>
            {% endfor %}
        </div>-->
        
    </div><!--//main-body-->
</div>

{% endblock %}
